

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


 
  .topnav {
    overflow: hidden;
  
    
    background-color:lightskyblue;
    background-color:	rgb(13, 47, 93)
 
  }


  .topipl
  {
    margin-left:-30px;
    margin-top: 0px;
    width: 250px;
    height: 100px;
  }
  /* Style the topnav links */
  .topnav a {
    
    margin: 10px;
    margin-top: 30px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 10px 10px;
    text-decoration: none;
    
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/bgteams.jpg.jpg);
  width: 95%;
  margin-left: 3%;
}
 


.flip-card {
  background-color: transparent;
  width: 25%;
  height: 400px;
  perspective: 1000px;
  margin: 60px;
  float: left;
  background-color: mistyrose;

  
    
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back, .flip-card-back2, .flip-card-back3 ,.flip-card-back4, .flip-card-back5,
 .flip-card-back6, .flip-card-back7, .flip-card-back8 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:red;
 
}

.flip-card-back {
  background-color: rgb(51, 47, 47);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}



.flip-card-back2 {
  background-color:rgb(252, 169, 16);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);

}
  
.flip-card-back3 {
  background-color:rgb(1, 82, 157);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}



.flip-card-back4 {
  background-color:rgb(178, 32, 37);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}


.flip-card-back5 {
  background-color:rgb(221, 67, 51);
  color: white;
  padding: 10px; 
  transform: rotateY(180deg);
}


.flip-card-back6 {
  background-color:rgb(79,45,107);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}


.flip-card-back7 {
  background-color:rgb(16,56,114);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}



.flip-card-back8 {
  background-color:rgb(8, 129, 241);
  color: white;
  padding: 10px;
  transform: rotateY(180deg);
}


a.rcbknowmore{
  background-color: red;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  .flip-card-inner, .flip-card-back ,.flip-card-back2 ,.flip-card-back3, .flip-card-back4, .flip-card-back5 ,.flip-card-back6,.flip-card-back7, 
  .flip-card-back8 ,.flip-card, .flip-card-front  {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}